<!-- Loading State -->
@if (isLoading()) {
<main
    class="carousel-wrapper w-full h-full rounded-3xl bg-primary border border-secondary shadow-sm flex items-center justify-center">
    <p class="loading-text text-text text-lg">Chargement...</p>
</main>
} @else if (hasError()) {
<!-- Error State -->
<main
    class="carousel-wrapper w-full h-full rounded-3xl bg-primary border border-secondary shadow-sm flex items-center justify-center">
    <p class="text-text text-lg">Impossible de charger les projets</p>
</main>
} @else if (currentProject(); as project) {
<!-- Carousel Content -->
<main
    class="carousel-wrapper w-full h-full min-h-90 rounded-3xl bg-primary border border-secondary shadow-sm hover:shadow-md transition-shadow duration-300 flex flex-col overflow-hidden">
    <!-- Projects-->
    <h2 class="w-full p-2 my-2 ml-4 text-2xl text-center font-bold">Projets</h2>

    <!-- Image Container -->
    <div class="flex-1 w-full p-2 relative cursor-pointer overflow-hidden group bg-background" (click)="goToProject()"
        role="button" tabindex="0" (keyup.enter)="goToProject()">
        <img [ngSrc]="project.image" width="720" height="720" [alt]="project.title"
            [priority]="currentIndex() === 0"
            class="w-full h-full object-cover rounded-t-2xl transition-transform duration-300 group-hover:scale-105" />
        <!-- Overlay on hover -->
        <div
            class="absolute inset-0 bg-transparent hover:bg-black/30 transition-all duration-300 flex items-center justify-center">
            <span
                class="text-primary bg-background px-4 py-2 rounded-xl font-medium opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                Cliquer pour voir le projet
            </span>
        </div>
    </div>

    <!-- Title Section -->
    <div class="p-4 bg-primary border-t border-secondary">
        <h3 class="text-lg font-semibold text-text m-0">{{ project.title }}</h3>
        <p class="text-text">{{ project.description }}</p>
    </div>

    <!-- Navigation Arrows -->
    <button (click)="previousProject()" class="carousel-arrow carousel-arrow-left" aria-label="Previous project">
        <i class="fa-solid fa-arrow-left" aria-hidden="true"></i>
    </button>

    <button (click)="nextProject()" class="carousel-arrow carousel-arrow-right" aria-label="Next project">
        <i class="fa-solid fa-arrow-right" aria-hidden="true"></i>
    </button>

    <!-- Slide Indicators -->
    <div class="absolute top-18 left-1/2 -translate-x-1/2 flex gap-2 z-10">
        @for (item of projects(); track item.id; let i = $index) {
        <button (click)="goToSlide(i)" [class.active]="i === currentIndex()" class="carousel-indicator"
            [attr.aria-label]="'Go to project ' + (i + 1)"></button>
        }
    </div>
</main>
}
